@font-face {
    font-family: 'spider';
    /*a name to be used later*/
    src: url('fonts/HOMOARAK.TTF');
    /*URL to font*/
}

.red {
    font-family: spider;
    color: red;
}

.blue {
    font-family: spider;
    color: blue;
}

#center {
    text-align: center;
}

#title {
    margin-bottom: 20px;

}

.pic1 {
    width: 200px;
}

body {
    background-image: url("images/skyline.jpg");
}

/p {
    color: white;
    text-align: center;
}

div {
    display: inline-block;
    background-color: green;
    margin: auto;
}
