@font-face {
    font-family: 'spider';
    /*a name to be used later*/
    src: url('fonts/HOMOARAK.TTF');
    /*URL to font*/
}

.red {
    font-family: spider;
    color: red;
}

.blue {
    font-family: spider;
    color: blue;
}

#center {
    text-align: center;
}

#title {
    margin-bottom: 20px;

}

.pic1 {
    width: 200px;
}

body {
    background-image: url("images/spiderbg.jpg");
    background-size:100%;
}

p {
    color: black;
    text-align: center;
    font-size:20pt;
}

.topimage1 {
    display: inline-block;
    margin: auto;
    float: left;
}

.topimage2 {
    display: inline-block;
    margin: auto;
    position:absolute;
    float:right;
}

.startingtext {
    display: inline-block;
    margin: auto;
    font-family: spider;
    text-align:center;
    display:inline-block;
    width:400px;
    margin:auto;
}