/*The chunk of code below reads the spiderman font and creates a font family for it.*/
@font-face {
    font-family: 'spider';
    /*a name to be used later*/
    src: url('fonts/HOMOARAK.TTF');
    /*URL to font*/
}

/*The chunk of code below creates red text*/
.red {
    font-family:spider;
    color: red;
}

/*The chunk of code below creates blue text*/
.blue {
    font-family:spider;
    color: blue;
}

/*The chunk of code below centers text*/
#center {
    text-align: center;
}

/*The chunk of code below sets the bottom of the title's margin to 20px.*/
#title {
    margin-bottom: 20px;

}

/*The chunk of code below sets the width of the top left pic of Dominican Spiderman to 200px.*/
.pic1 {
    width: 300px;
    
}

/*The chunk of code below creates the background of the body*/
body {
    background-image: url("images/spiderbg.jpg");
    background-size:100%;
    background-repeat: repeat;
}

/*The chunk of code below sets the color, allignment, and font size of paragraph elements.*/
p {
    color: black;
    text-align: center;
    font-size:20pt;
}

/*The chunk of code below sets the position and size of the top left pic of Dominican Spiderman*/
.topimage1 {
    display: inline-block;
    margin: auto;
    float: left;
    margin-left:200px;
    margin-right: 50px;
    padding:10px 10px 8px 10px;
    background-color: white;
}

/*The chunk of code below sets the position and size of the top right pic of Dominican Spiderman*/
.topimage2 {
    display: inline-block;
    margin: auto;
    position:absolute;
    float:right;
    padding:10px 10px 8px 10px;
    background-color: white;
}

/*The chunk of code below sets the look, size, and width of the starting/intro text.*/
.startingtext {
    display: inline-block;
    margin: auto;
    font-family:spider;
    text-align:center;
    display:inline-block;
    width:400px;
    margin-left:100px;
    margin-right: 100px;
    
    
    
}

/*The chunk of code below sets the color and animation that go along iwth the starting text.*/
#strttext {
    color:red;
    animation:colorChange 5s linear;
}

/*The chunk of code below changes the color of the starting text on certain percentages after the page is loaded*/
@keyframes colorChange {
    0%   {color:orange;}
    25%  {color:yellow;}
    50%  {color:green;}
    75%  {color:purple;}
    100% {color:red;}
}

/*The chunk of code below sets the font size of the catchphrase.*/
.catch {
    font-size:25pt;
}

/*The chunk of code below sets the colro, positiopn, and look of the catchphrase's div*/
.bg {
    display:inline-block;
    color:grey;
    margin-top:-20px;
    position:relative;
    top:200px;
    left:150px;
}

/*The chunk of code below sets the position, size, look, and transition duration of the rating's div.*/
#rating {
    display:inline-block;
    border-style: groove;
    background: linear-gradient(grey, black);
    position:absolute;
    top:700px;
    left:50px;
    transition-duration: 3s;
}


/*The chunk of code below sets the color and fotn size of the ratings text.*/
.rating {
    color:green;
    font-size: 15pt;
}

/*The chunk of code below fully rotates the rating div when the user hovers over it.*/
#rating:hover {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/*The chunk of code below sets the text of anything that has this class to bold.*/
.bold {
    font-weight: bold;
}

/*The chunk of code below sets the position and color of the email submit div.*/
#submit {
    position:absolute;
    top:700px;
    left:1000px;
    color:lightgrey;
}

/*The chunk of code below sets the font, look, and size of the submit text*/
.submit{
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px;
    height: 50px;
    display:inline-block;
}

/*The chunk of code below sets the position and look of the trailer of Dominican Spiderman*/
#video {
    position:relative;
    right: 600px;
    display: inline-block;
    float:right;
}

/*The chunk of code below a box shadow for both of the top pics of Dominican Spiderman*/
#imgtop {
    box-shadow: 20px 20px;
}